<div class="row">
	

	<div class="col-sm-12">
		<h1 class="about">Children</h1>
	</div>

	<div class="col-sm-6">
		<h1 class="about theme-color" >What we do for Children</h1><br>

		<p>De’ Bridge community center heart is children. Our belief has always been that through empowering children, we can make a significant change in the whole society.</p><br>
		<p>Children have little voices. Poverty is often a survival-of-the-fittest environment and the voices of children are often drowned out. We wish to empower children to speak up for themselves and for their family and community.</p>
		<br>
		Through our programs we have saved lives, got children fast-tracked into schooling, restored health to the malnourished and supported parents and guardians. For each child we work with, we hope for a happy and healthy future, and we work wholeheartedly to support their development.</p>
	</div>

	<div class="col-sm-6">
		<%= image_tag("pics/class.jpg", :alt => "women") %>
	</div>


	<div class="col-sm-12">
		<h1 class="about theme-color">The Impact</h1>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<%= image_tag("pics/mose.jpg", :alt => "moses") %>
		</div>
		<div class="col-sm-10">
		<h2 class="about">Moses, 6 years</h2>
			<em>“When I was not attending school all day I would help my family by taking care of my younger brothers and sister, helping my mum when she secured a job at our neighbourhood   working in a farm. Now I have realised the difference between staying at home and coming to school. At school I to learn to read and write. When I was sick I was taken to hospital given medication and got better. I’m very glad to be in school.”</em><br>
			
				<button type="button" class="btn-styl btn btn-info" style="margin-left:800px"><%= link_to 'READ MORE IMPACT', '/pages/voices', :class => :button %></button>
			
			
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
		<h2 style="text-align:center; font-size:26px;">
			<span style="color: #4f4f4e;">Our three focus areas for children</span>
		</h2>
	
		</div>

		<div class="row">
			<p style="text-align:center;"><%= image_tag("childicon.png", :alt => "icons") %></p>
		</div>

		
	</div>

	<!--  -->
			<div class="row">
				<div class="col-sm-8">
					<h2 style="text-align:left; font-size:26px;">
					<span style="color: #449CCC;">Food and Nutrition</span>
					</h2>
					<p style="text-align: justify;"> SCHOOL MEALS</p>
					<p>The food programme is one of our key projects. It has helped vulnerable children in their health, growth, weights, nutrition and well-being. The food programme operates from our Anganza School and is carried out by our school cook and volunteers. Meals are cooked with a combination of ingredients including beans, maize, cereals, rice and locally grown vegetables.</p>

				</div>

				<div class="col-sm-4">
					<p style="text-align:center;"><%= image_tag("pics/FOOD.jpg", :alt => "icons") %></p>

					
				</div>
			</div>

			<!--  -->

			<div class="row">
				<div class="col-sm-6">
					<h2 style="text-align:left; font-size:26px;">
					<span style="color: #449CCC;">Education</span>
					</h2>
					<p style="text-align: justify;"> LEARNING AND GROWING</p>
					<p>Children in our community love going to school! De’ Bridge community centre runs an Early Childhood Development (ECD) School for children aged 3-7 and a senior school currently up to form 2. This programme is a gateway for children to enter the education system. Once a child has moved through the ECD School they are then enrolled into a public primary school, where they will spend the next eight years. With the support of child sponsors De’ bridge community centre supports children through their senior school education.</p>

				</div>

				<div class="col-sm-4">
					<p style="text-align:center;"><%= image_tag("pics/school.jpg", :alt => "icons") %></p>

					
				</div>
			</div>

			<!--  -->
			<div class="row">
				<div class="col-sm-8">
					<h2 style="text-align:left; font-size:26px;">
					<span style="color: #449CCC;">Health and Sanitation</span>
					</h2>
					<p style="text-align: justify;"> INTERVENTION AND PREVENTIONS</p>
					<p>Health and sanitation is a major issue for children living in poverty. Health issues include
						malaria, diarrhoea and stomach infections, worms and fungal infections, skin diseases, pneumonia, colds and flus, and occasional outbreaks of cholera and chicken pox. We teach children the basics of health and sanitation, significantly reducing the risk of illness and empowering them with life skills.</p>

				</div>

				<div class="col-sm-4">
				<p style="text-align:center;"><%= image_tag("pics/soap.jpg", :alt => "icons") %></p>
					
				</div>
			</div>

			
		


</div>

