<div class="center jumbotron">
  <h1>Welcome to De' Bridge website</h1>

  <h2>
    This is the home page for the
    De' Bridge website</a>
    application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>




 <div class="row">
 	<div  class="centre col-sm-12">
 		<div class="col-sm-12" >
 		<p>De Bridge community centre is a Christian based organisation situated in Dagoreti South constituency Nairobi, Kenya working with children and families living in poverty. We empower the marginalized community through education, nurturing individuals’ abilities and developing their skills.</p>
 		
 	</div>
 	</div>
 	
 	
 </div>

  <div class="row ">
 	<div class="col-sm-3 project" >
 		<%= image_tag("icon-child.png", :alt => "children") %>
 		
         <h1>Children</h1>

 		<p>At De Bridge community centre we believe that through empowering children, we can make a significant change in the whole society. Through our pre-school, senior school and outreach feeding programme we provide children from less-privilege families with food and nutrition, affordable education, health and sanitation.</p>
 		<%= link_to "Read More", '#', class: "btn btn-lg btn-primary" %>
 		
 	</div>

 	<div class="col-sm-3 project">
 		<%= image_tag("icon-female.png", :alt => "women") %>
         <h1>Women</h1>
 		<p>De Bridge community centre strongly believe that women are the pillars of the society. We started women group initiative with the primary aim of helping women to be financially independent. The women involved all know first-hand the challenges of raising a family in this environment. As well as providing support, that is income generating. </p>
 		<%= link_to "Read More", '#', class: "btn btn-lg btn-primary" %>
 		
 	</div>

 	<div class="col-sm-3 project">
 		<%= image_tag("icon-child.png", :alt => "youth") %>
            <h1>Youth</h1>
 		<p> Our organization has clearly seen the need and the benefit of supporting the youth by nurturing their skills and talent. We encourage the youth to participate in artistic work, community services and self-help group that enable them to be more productive and creative for their benefit and the benefit of the society. We help them to voice the ideas and concerns... </p>
 		<%= link_to "Read More!", '#', class: "btn btn-lg btn-primary" %>
 		
 	</div>

 	<div class="col-sm-3 project">
 			<%= image_tag("icon-home.png", :alt => "construction") %>
            <h1>construction</h1>
 		<p>With a vision for future sustainability, we have started a long-term project to buy land and construct a comprehensive facility, including a primary school with dormitories, staff housing, multi-hall and kitchen.
		We have currently leased three acres of land which have old structures and a residential home that we use as classroom and health facilities. </p>
		<%= link_to "Read More", '#', class: "btn btn-lg btn-primary" %>
 		
 	</div>

 	
 </div>