<div class="row">
	
	<div class="col-sm-12">
		<h1 class="about">Projects</h1>
	</div>


	<div class="col-sm-6">
	<p style="text-align: center; color:#449CCC;"><%= link_to 'CHILDREN', '/pages/children' %></p><br>
	<p style="text-align: center;">Food and nutrition, Early Childhood Development (E.C.D) School, and health and sanitation</p><br>
	<p style="text-align: center; color:#449CCC;"><%= link_to 'HEALTH PROGRAM AND EDUCATION', '/pages/team' %></p><br>
	<p style="text-align: center;">Primary schools sanitation and health education program</p><br>
	<p style="text-align: center; color:#449CCC;"><%= link_to 'WOMEN', '/pages/team' %></p><br>
	<p style="text-align: center; ">Empowerment, support and leadership</p><br>
	<p style="text-align: center;color:#449CCC;"><%= link_to 'CONSTRUCTION', '/pages/team' %></p><br>
	<P style="text-align: center;">Building projects in education, water and sustainability</P><br>
		

	</div>

	<div class="col-sm-6">
		<%= image_tag("pics/VIGINIA.jpg", :alt => "women") %>
	</div>
</div>