<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "De Bridge", '#', id: "logo" %>
    <nav>




      <ul class="top-nav nav navbar-nav">

  
      

        <li><%= link_to "Home", "/pages/home" %></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
          <li><a href="/pages/about">About Debridge</a></li>
          <li class="divider"></li>
          <li><a href="/pages/story">Our Story</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Meet our Leadership Team', '/pages/team' %></li>
          <li class="divider"></li>
          <li><%= link_to 'Contact us', '/pages/contact' %></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="/pages/donate" class="dropdown-toggle" data-toggle="dropdown">Donate<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/pages/donate">Donate to the bridge community</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Child Sponsorship', '#' %></li>
          <li class="divider"></li>
          <li><%= link_to 'priority List', '#' %></li>
          <li class="divider"></li>
          <li><%= link_to 'MPESA Donation', '#' %></li>

        </ul>
      </li>


      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Children</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Women Group', '#' %></li>
          <li class="divider"></li>
          <li><%= link_to 'Youth Group', '#' %></li>
          <li class="divider"></li>
          <li><%= link_to 'Health Program and Education', '#' %></li>
          <li class="divider"></li>
          <li><%= link_to 'Construction', '#' %></li>
        </ul>
      </li>

              <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Invoved<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Volunteer</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Fundraising', '#' %></li>
        </ul>
      </li>
       
      </ul>
    </nav>
  </div>
</header>






    </ul>
  </div>
</nav>





