<!DOCTYPE html>
<html>
  <head>
    <title>Debridge</title>
      <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", media: "all" %>


  
    <%= csrf_meta_tags %>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">

     <%= yield %>
      <%= render 'layouts/footer' %>


    </div>




  </body>
</html>